#forecast_form{
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
#forecast_form .form-group{
    padding-bottom: 8px;
}
#forecast_form .input{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: 44px;
}
#forecast_submit_button{
    background: #0374b6;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    justify-content:center;
    align-items: center;
    align-self: center;
    margin: auto;
}